<form method="POST" action="api/productos">
    <h1>ZAPATILLAS</h1>
    <div>
        <label for="producto">Modelo</label>
        <input type="text" name="producto" required>
    </div>
    <div>
        <label for="marca">Marca</label>
        <input type="text" name="marca" required>
    </div>
    <div>
        <label for="precio">Precio</label>
        <input type="number" name="precio" required>
    </div>
    <div>
        <input type="submit">
    </div>
</form>
<a href="./api/productos"><button> Ir a productos </button></a>